# An empty workspace table keeps the base crate away from nesting in other
# workspaces.
[workspace]

[package]
name = "#NAME#"
version = "#VERSION#"
edition = "2024"

[patch.crates-io]
core2 = { git = "https://github.com/bbqsrc/core2", rev = "545e84bcb0f235b12e21351e0c69767958efe2a7" }
